<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title><%= content_for(:title) || "Kartweb" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- 모바일 앱 및 PWA 대응 -->
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <!-- 구글 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <!-- Tailwind CSS -->
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- 추가 head 요소 -->
    <%= yield :head %>
  </head>

  <body class="bg-gray-50 text-gray-800 font-sans antialiased">
    <main class="flex items-center justify-center min-h-screen px-4">
      <%= yield %>
    </main>
  </body>
</html>
